<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
 <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <title>NAC UI</title>
 </head>
 <body>
  <!-- Top Title bar -->
  <div class=top>
   <div class=topinner>
    <h3 class=top>&nbsp; &nbsp;Nagios Alerting Configurator</h3>
    <ul class=top>
     <li class=top><a href="/logout" class=top>logout</a></li>
     <li class=top><a href="/" class=top>home</a></li>
    </ul>
   </div>
  </div>

  <!-- Left Bar Body -->
  <div class=center>
   <div class=menu><img src="/images/nac-top.gif">
	{{ range .Menu }} {{ if .ItemScript }} <form method=POST action=/><input type="hidden" name="SCR" value="{{.ItemScript}}"><input class=menu type="submit" name="SUBMIT" value="{{.ItemName }}"></form>
	{{ else }} &nbsp;&nbsp;&nbsp; {{ .ItemName }}
	{{ end }} {{ end }}
    <img src="/images/nac-bottom.jpg">
   </div>
  <div class=content>

  <!-- Any Errors -->
	{{ range .Error }}{{ if . }}{{ . }}<br>{{ end }} {{ end }}
  <!-- Content Body -->
	{{ template "index.html" .Body }}

	<br>==test<br>
	{{ .Page }}
	<br>==test<br>
	
  </div>
 </body>
</html> 
